<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style type="text/css">
      body{
        font-family: 'Open Sans';
      }
      #pageHeader{
        font-family:'Open Sans'; font-size:10px;
      }
      .globalPdf{
        font-size: 8px;
      }
      .globalHtml{
        font-size: 14px;
      }

    </style>

  </head>

  <body class="globalPdf">
    <div id="pageHeader">
      <div style="float:left; text-align:center;" >

      </div>
      <% if(true){ %>
        <div  style="position: absolute;top: -20px;left:40%; z-index:999;">
          <img style="width:100px; height:80px;" src="file:///<%= ruta %>/public/images/logo.svg"  alt="Logotipo Entidad" />
        </div>
      <% } %>
      <div style="float:right; text-align:center;">

      </div>
    </div>

    <div class="mi-contenido">

         <h2>Presupuesto <%= presupuesto.gestion %></h2>
         <br>
         <table>
            <thead>
             <tr valign="top">
                <% for(var j = 0; j < presupuesto.cabecera.length; j++){ %>
                  <td><%= presupuesto.cabecera[j] %></td>
                <% } %>
            </tr>
            </thead>
            <tbody>
            <% for(var j = 0; j < presupuesto.filas.length; j++){ %>
                <tr valign="top">
                    <% if(presupuesto.filas[j].numero){ %>
                        <td align="right"><%= isNaN(parseInt(presupuesto.filas[j].numero)) ? presupuesto.filas[j].numero : parseInt(presupuesto.filas[j].numero) %></td>
                    <% } %>
                    <% if(presupuesto.filas[j].descripcion){ %>
                        <td ><%= presupuesto.filas[j].descripcion %></td>
                    <% } %>
                    <% if(presupuesto.filas[j].inicial){ %>
                        <td style="text-align:right"><%= presupuesto.filas[j].inicial %></td>
                    <% } %>
                    <% if(presupuesto.filas[j].comprometido){ %>
                        <td style="text-align:right"><%= presupuesto.filas[j].comprometido %></td>
                    <% } %>
                    <% if(presupuesto.filas[j].pagado){ %>
                        <td style="text-align:right"><%= presupuesto.filas[j].pagado %></td>
                    <% } %>
                    <% if(presupuesto.filas[j].modificado){ %>
                        <td style="text-align:right"><%= presupuesto.filas[j].modificado %></td>
                    <% } %>
                    <% if(presupuesto.filas[j].vigente){ %>
                        <td style="text-align:right"><%= presupuesto.filas[j].vigente %></td>
                    <% } %>
                    <% if(presupuesto.filas[j].saldo){ %>
                        <td style="text-align:right"><%= presupuesto.filas[j].saldo %></td>
                    <% } %>
                </tr>
            <% } %>
            <tbody>
          </table>

    </div>

  </body>

</html>
